{% extends "layout.html" %}
{% block body %}

<h2>Information</h2>
<section>
    <form action="/updatebook" method="POST" id="updatebookform">
        <input name="id" type="hidden" value="{{ book[0] }}">
        <label id="idlabel" for="id">ID: </label><span>{{ book[0] }}</span><br>
        <label id="nameid" for="name">Name: </label><input id="id" name="book" type="text" value="{{ book[1] }}"><br>
        <label id="authorlabel" for="author">Author: </label><input id="author" name="author" type="text" value="{{ book[2] }}"><br>
        <label id="genrelabel" for="genre">Genre: </label><select id="genre" name = "genre">
			<option disabled selected>{{ book[3] }}</option>
			{% for i in genres %}
				<option value = "{{ i }}">{{ i }}</option>
			{% endfor %}
		</select><br>
        <label id="lentlabel" for="lent">Lent: </label><span id="lent">{{ book[4] }}</span><br>
        <label id="lenttolabel" for="lentto">Lent To: </label><span id="lentto">{{ mid[0] }} (Member ID)</span><br>
        <label id="summarylabel" for="summary">Summary: </label><textarea id="summary" name="summary" rows = "4" cols = "70">{{ book[5] }}</textarea><br>
        <label id="addlinfolabel" for="addlinfo">Additional Information: </label><input id="addlinfo" name="addlinfo" type="text" value="{{ book[6] }}"><br>
        <br>
        <input class="hsubmit" type="submit" value="Update Information">
    </form>
    <br><br>
</section>
<section>
    <form action="/update" method="post"><input name="id" type="hidden" value="{{ book[0] }}" /><input class="hsubmit" type="submit" value="Change status" /></form>
    <br><br><br>
    <form action="/delete" method="post"><input name="id" type="hidden" value="{{ book[0] }}" /><input class="hsubmit" type="submit" value="Delete" /></form>
</section>

{% endblock %}