{% extends "layout.html" %}
{% block body %}

<form action="/importd" method="post" enctype="multipart/form-data" id="importform">
    <label for="file">Import Data </label><input required type="file" name="file" id="file"> 
    <input type="submit" value="Import Data" class="hsubmit">
</form>
<form action="/exportd" method="get" id="exportform">
    <input type="submit" value="Export Data/ Create a Backup" class="hsubmit">
</form>

<p id="info">{{ message }}</p>

{% if file == True %}
<table>
    <thead><tr>
        <td>Last Exported File (Backup)</td>
        <td>Options</td>
    </tr></thead>
    <tbody>
        <tr>
            <td>export.zip- Last export</td>
            <!--<td><p></p><a href="{{ exportpath }}" download>Download</a></p>-->
            <td><p><a href="./deletefile">Delete File</a></p>
            <span>File path: </span>{{ exportpath }}</a> Navigate to this path to get the export file and copy it to another location.</td>
        </tr>
    </tbody>
</table>
{% elif file == False %}
<table>
    <thead><tr>
        <td>Last Exported File</td>
        <td>Options</td>
    </tr></thead>
    <tbody>
        <tr>
            <td>No export file</td>
            <td>No export file</td>
        </tr>
    </tbody>
</table>
{% endif %}

{% endblock %}