{% extends "layout.html" %}


{% block body %}
<h2>Issue Book</h2>
	<form action = "/issue" method = "post" enctype="multipart/form-data" id="issuebookform">
		<input required type="text" name="member_id" placeholder="Member ID" id="mid"/>
		<input required type="text" name="book_id" placeholder="Book ID" id="bid"/><br>
		<label id="doilabel" for="doi">Date of Issue: </label><input id="doi" required type="date" name="doi" placeholder="Date Of Issue" value = "{{ date }}" />
		<label id="dorlabel" for="dor">Date of return: </label><input id="dor" required type="date" name="dor" placeholder="Date Of Return" />
    	<input class = "hsubmit" type="submit" name="submit" value="Issue" />
	</form>
	<h2>Add a new book</h2>
	<form action = "/add" method = "post" id="newbookform">
		<input id="bookname" required placeholder = "Book" name = "book" type = "text" autocomplete = "off" />
		<input id="authorname" required placeholder = "Author" name = "author" type = "text" autocomplete = "off" />
		<select id="genre" name = "genre">
			<option disabled selected>Genre</option>
			{% for i in genres %}
				<option value = "{{ i }}">{{ i }}</option>
			{% endfor %}
		</select>
		<input class = "hsubmit" type = "submit" value = "Submit" />
	</form>

	<h2>Search for books</h2>
	<form action = "/search" method = "get" id="searchform">
		<input type="hidden" value="library" name="page">
    	<input id="title" required type="search" name="title" placeholder="Query" />
    	<input class = "hsubmit" type="submit" name="submit" value="Search" />
	</form>

	<h2>Add Member</h2>
	<form action = "/addmember" method = "post" enctype="multipart/form-data" id="addmemberform">
		<input id="mname" required type="text" name="name" placeholder="Name" />
		<label id="mdoj" for="doj">Date of joining: </label><input id="doj" required type="date" name="doj" placeholder="Date Of Joining" value = "{{ date }}" /><br>
		<!--<label id="photolabel" for="photo">Profile photo: </label><input id="photo" type="file" name="photo">-->
    	<input class = "hsubmit" type="submit" name="submit" value="Add" />
	</form>

{% endblock %}
