<!DOCTYPE HTML>
<html lang = "en">
<head>
	<script>
		/* script code from: https://medium.com/@fareedkhandev/create-desktop-application-using-flask-framework-ee4386a583e9. Special thanks to the author- Fareed Khan!*/
		
		async function getRequest(url = '') {
			const response = await fetch(url, {
				method: 'GET',
				cache: 'no-cache'
			})
			return response.json()
		}
		document.addEventListener('DOMContentLoaded', function () {
			let url = document.location
			let route = "/flaskwebgui-keep-server-alive"
			let interval_request = 3 * 1000 //sec
			function keep_alive_server() {
				getRequest(url + route)
					.then(data => console.log(data))
			}
			setInterval(keep_alive_server, interval_request)()
		})
	</script>
	<title>Library</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
	<meta charset = "utf-8" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='library.css') }}" type="text/css" />
</head>
<body>
	<header>
		<div class="logo">Personal Library</div>
		<div class="right">
			<a href="./">Home</a>
			<a href="./issuedbooks">Issued Books</a>
			<a href="./library">Library</a>
			<a href="./members">Members</a>
			<a href="./genres">Genres</a>
		</div>
	</header>
	<br />
<!-- flask content begins -->
	{% block body %}{% endblock%}
<!-- flask content ends  -->
<br />
<br />
<hr />
</body>
</html>
