{% extends "layout.html" %}
{% block body %}
<h2>Members</h2>

<div>
  <h3>Search for Members (by name, date of joining or id) </h3>
    <form action = "/search" method = "get">
        <input type="hidden" value="members" name="page">
        <input class = "search" required type="search" name="title" placeholder="Query" />
        <input class = "hsubmit" type="submit" name="submit" value="Search" />
    </form>
</div>

<table>
    <thead><tr>
      <td>ID</td>
      <td>Name</td>
      <td>Photo</td>
      <td>Date Of Joining</td>
      <td>Book 1</td>
      <td>Book 2</td>
      <td>Options</td>
    </tr></thead>
    <tbody>
    {% for i in mem %}
      <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td><img src = "{{ i[3] }}" height="50px" width="50px"></td>
        <td>{{ i[2] }}</td>
        <td>{{ i[4] }}</td>
        <td>{{ i[5] }}</td>
        <td><form action="/delmember" method="post"><input name="id" type="hidden" value="{{ i[0] }}" /><input class="submit" type="submit" value="Delete" /></form>
          <form action="/member" method="post"><input name="id" type="hidden" value="{{ i[0] }}" /><input class="submit" type="submit" value="About Member" /></form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
