{% extends "layout.html" %}
{% block body %}
<h2>Member Information</h2>
<section>
    <form action="/updatemember" method="POST" enctype="multipart/form-data" id="updatememberform">
        <input name="id" type="hidden" value="{{ member[0] }}">
        <label id="idlabel" for="id">ID: </label><span id="id">{{ member[0] }}</span><br>
        <label id="namelabel" for="name">Name: </label><input id="name" required name="name" type="text" value="{{ member[1] }}"><br>
        <label id="photolabel" for="photo">Photo: </label><img src="{{ member[3] }}" height="70px" width="70px"><input id="photo" name="photo" type="file"><br><br>
        <label id="dojlabel" for="doj">Date Of Joining: </label><span id="doj">{{ member[2] }}</span><br>
        <label for="book1" id="book1label">Book 1: </label><span id="book1">{{ member[4] }}(Book ID)</span><br>
        <label for="book2" id="book2label">Book 2: </label><span id="book2">{{ member[5] }}(Book ID)</span><br>
        <br>
        <input class="hsubmit" type="submit" value="Update Information">
    </form>
</section>

{% endblock %}